<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>@ViewData["Title"] Good Deals Finder App</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Serif" />
    <link rel="stylesheet" type="text/css" href="~/styles/css/shared.css" />
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <header>
        <div class="nav-container purple topBotomBordersIn">
            @Html.ActionLink("HOME/SEARCH", "Index", "Home", null, new { @class = "active" })
            @Html.ActionLink("ABOUT", "About", "Home", null, new { @class = "active" })
            @Html.Partial("_LoginPartial")
        </div>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer>
        <div class="copy-right">
            &copy; @DateTime.Now.Year  - Deals Finder App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!--//Scripts.Render("~/bundles/jquery") -->
    <!--//Scripts.Render("~/bundles/bootstrap")-->
    @RenderSection("scripts", required: false)
</body>
</html>