@model CapstoneApp.Models.RegisterViewModel

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/styles/css/loginandregister.css" />
</head>

<h2>@ViewBag.Title.</h2>

<html>
<body class="signup-bg">
    <main>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "login-form", @class = "form-class", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Create a new account.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="container">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "field-class", @placeholder = "Email", @autofocus = "true" })

                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "field-class", @placeholder = "Password", @autofocus = "true" })

                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "field-class", @placeholder = "Confirm Password", @autofocus = "true" })
                <button type="submit" class="submit-class" value="Register">Register</button>
            </div>
        }
    </main>
</body>
</html>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
