<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body style="margin: auto;">
    <h1>Delete</h1>

    <h3>Are you sure you want to delete <mark><span>@ViewBag.item?</span></mark></h3>
    @using (Html.BeginForm("DeleteItemsList", "Manage", FormMethod.Post, null))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="submit">
            <input type="hidden" value="@ViewBag.Item" />
            <input type="submit" value="Delete" />
        </div>
    }
    @using (Html.BeginForm("ViewItemsList", "Manage", FormMethod.Get, null))
    {
        @Html.AntiForgeryToken()
        <div>
            <input type="submit" value="Back To List" />
        </div>
    }
</body>
