@model CapstoneApp.Models.IndexViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Profile Mananger";
    ViewBag.user = User.Identity.GetUserName();
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="margin:auto">
    <h2>@ViewBag.Title.</h2>
    <h5>Currently loggied in as @ViewBag.user.</h5>
    @if (ViewBag.StatusMessage != null)
    {
        <h4 style="background-color: yellow"> @ViewBag.StatusMessage</h4>
    }
    <div style="padding-left: 20px; line-height: 2em;">
        <h4>Create your shopping list</h4>
        <hr />
        <dl class="dl-horizontal">
            @if (Model != null && Model.HasItemsList)
            {
                <dd>
                    [ @Html.ActionLink("Go To Search", "Index", "Home", null, null) ]
                </dd>
                <dd>
                    [ @Html.ActionLink("View Your Grocery Items List", "ViewItemsList") ]
                </dd>
                <dd>
                    [ @Html.ActionLink("Add Items To List", "CreateItemsList") ]
                </dd>

                if (!Model.HasAlertEnabled)
                {
                    <dd>
                        [ @Html.ActionLink("Enable Grocery List Items Discount Alert", "EnableItemsAlert") ]
                    </dd>
                }
                else
                {
                    <dd>
                        <mark>Email News Seller Alert Currently Enabled for Weekly News Seller (Every Sunday)</mark><br> 
                        [ @Html.ActionLink("Disable Grocery List Items Discount Alert", "DisableItemsAlert") ]
                    </dd>
                }
            }
            else
            {
                <dd>
                    <mark><b>YOU HAVE NOT CREATED A SHOPPING LIST. CREATE A GROCERY LIST TO GET REDUCED PRICE EMAIL NOTIFICATIONS ON YOUR FAVORITE ITEMS</b></mark><br>
                    [ @Html.ActionLink("Create Your Grocery Items List", "CreateItemsList") ]
                </dd>
            }

        </dl>

        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ] (External Logins service is currently unavailable.)
            </dd>

            @*
                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                 See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                 Uncomment the following block after you have set up two-factor authentication
            *@
            @*
                <dt>Phone Number:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                        }
                    }
                    else
                    {
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                    }
                </dd>
            *@
            <dt>Two-Factor Authentication: (Two-Factor Authentication service is currently unavailable.)</dt> 
            <dd>
                @*@if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }*@
            </dd>
        </dl>
    </div>
</body>
</html>
   

