@using CapstoneApp.Models
@model UserInputViewModel

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="~/styles/css/loginandregister.css" />
</head>

<html>
<body class="background-index-search">
    <main>
        @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @id = "login-form", @class = "form-class", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h2>Search for your favorite local grocery item</h2>
            <h1>At a lower price!</h1>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="container">
                @Html.LabelFor(m => m.ItemName)
                @Html.TextBoxFor(m => m.ItemName, new { @class = "field-class", @placeholder = "milk", @autofocus = "true" })

                @Html.LabelFor(m => m.ZipCode)
                @Html.TextBoxFor(m => m.ZipCode, new { @class = "field-class", @placeholder = "93214", @autofocus = "true" })
                <button type="submit" class="submit-class" value="Search">Search</button>
            </div>
        }
    </main>
    <div class="info-box" ">
        <h1>HOW THIS APP WORKS?</h1>
        <br>
        <p>
            As college students, we don't have alot of money to do grocery, so we want to find a way to buy cheap groceries.
            We came up with the Grocery Deals Finder App, which helps us find the cheapest grocery items out there that I can buy
            LOCALLY, without actually having to do much research or trials and error. This app saves time and money!
        </p>
        <br>
        <p>
            First, user can use the SEARCH tool above to easily find their favorite grocery items at a cheaper price locally.
            The user just has to look for the item they want, and enter their local Zipcode. The application will find
            near-by supermarkets (that our services currently can reach to and retrieve data), get the data, clean it,
            sort it, and show to the user the cheapest option(s) from each of the stores in the area to buy from.
        </p>
        <br>
        <p>
            Second, a user can also sign-up with the application to benefit from additional services such as Grocery List
            maker and weekly discounted item(s) sellers. More info, refer to our <a href="#">Github</a>. User will need a working email
            account to register (also needs to confirm email to prevent bots). After they have succesfully created an account, they
            can take advantage of more functionalies by going to the PROFILE MANAGER. There, they can "create shopping list",
            "enable weekly sellers email notfiication", and more...

        </p>
        <br>
        <p>
            Additionally, a registered user can manage their account and benefit from many future features that can help
            doing grocery more convenient and cheaper.<br>

            Please enjoy! We tried very hard.
        </p>
    </div>
</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
