<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <script src="./index.js"></script>
    <link rel="stylesheet" type="text/css" href="~/styles/css/navigate.css" />
</head>

@Html.ActionLink("Back to Search", "Index", "Home", null, new { @class = "back-to-search" })

<body>
    <div class="container">
        <div class="location-info">
            STORE: @ViewBag.store
            ADDRES: @ViewBag.address
        </div>

        <div id="map"></div>
        <script>
        let map;
        let marker;
        let infoWindow;
        var lat = @ViewBag.lat;
        var long = @ViewBag.lng;
        var info = '<h3>@ViewBag.store</h3><br><h4>@ViewBag.address</h4><br><a href="google.com">website</a>';
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: lat, lng: long },
                zoom: 13,
            });

            marker = new google.maps.Marker({
                position: { lat: lat, lng: long },
                map: map
            });

            infoWindow = new google.maps.InfoWindow({
                content: info
            });

            marker.addListener('click', function () {
                infoWindow.open(map, marker);
            });
        }
        </script>
    </div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src=@String.Format("https://maps.googleapis.com/maps/api/js?key={0}&callback=initMap&v=weekly", ViewBag.key)
            async>
    </script>
</body>

