<style>
    #map {
        height: 400px;
        width: 700px;
    }

    html, body {
        background: #2F1E27;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .container {
        position: relative;
    } 

</style>

<head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="./index.js"></script>
</head>

<!-- For testing purposes-->
<a asp-controller="Main" asp-action="Index">Return to Search</a>
<br>
STORE: @ViewData["store"]
<br>
ADDRES: @ViewData["address"]
<br>
<!-- For testing purposes-->

<body>
    <div class="container">
        <div id="map"></div>
        <script>
        let map;
        let marker;
        let infoWindow;
        var lat = @ViewData["lat"];
        var long = @ViewData["long"];
        var info = '<h3>@ViewData["store"]</h3><br><h4>@ViewData["address"]</h4><br><a href="google.com">website</a>';
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: lat, lng: long },
                zoom: 13,
            });

            marker = new google.maps.Marker({
                position: { lat: lat, lng: long },
                map: map
            });

            infoWindow = new google.maps.InfoWindow({
                content: info
            });

            marker.addListener('click', function () {
                infoWindow.open(map, marker);
            });
        }
        </script>
    </div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src=@String.Format("https://maps.googleapis.com/maps/api/js?key={0}&callback=initMap&v=weekly", ViewData["key"])
            async>
    </script>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}